<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>HOBBY1</string>
	<string>HOBBY2</string>
	<string>HOBBY3</string>
	<string>HOBBY4</string>
	<string>Sport</string>
	<string>Shopping</string>
	<string>Movie</string>
	<string>Soccer</string>
	<string>Travel</string>
</array>
</plist>
